[Desktop Entry]
Version=1.0
Type=Application
Name=Archtoys
Comment=System-wide color picker for Linux
Exec=archtoys %u
Icon=archtoys
Terminal=false
StartupNotify=false
StartupWMClass=archtoys
Categories=Graphics;Utility;
Keywords=color;picker;eyedropper;hex;
