[Desktop Entry]
Type=Application
Name=Archtoys
Comment=System-wide color picker
Exec=archtoys
Icon=archtoys
Terminal=false
Categories=Graphics;Utility;
